{% load static %}
<header class="tm-header" id="tm-header">
  <div class="tm-header-wrapper">
      <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
      </button>
      <div class="tm-site-header">
          <!-- <div class="mb-3 mx-auto tm-site-logo"><i class="fas fa-times fa-2x"></i></div>             -->
          <h1 style="font-size: 45px;" class="text-center">UzNews</h1>
           <!-- <img width="300" src="{% static 'img/logo.png' %}" alt=""> -->
      </div>
      <nav class="tm-nav" id="tm-nav">            
          <ul>
              <li class="tm-nav-item "><a href="/" class="tm-nav-link">
                  <i class="fas fa-home"></i>
                  Yangiliklar
              </a></li>
              <li class="tm-nav-item"><a href="{% url 'about' %}" class="tm-nav-link">
                  <i class="fas fa-users"></i>
                  Biz haqimizda
              </a></li>
              <li class="tm-nav-item"><a href="{% url 'contact' %}" class="tm-nav-link">
                  <i class="far fa-comments"></i>
                  Bog'lanish
              </a></li>
          </ul>
      </nav>
      <div class="tm-mb-65">
          <a rel="nofollow" href="https://t.me/islomkarimov_dev" class="tm-social-link">
              <i class="fab fa-telegram tm-social-icon"></i>
          </a>
          <a href="https://github.com/karimov2011" class="tm-social-link">
              <i class="fab fa-github tm-social-icon"></i>
          </a>
      </div>
 
  </div>
</header>