{% extends 'base.html' %}
{% block content %}
{% load static %}




      <!-- Search form -->
      <div class="row tm-row">
          <div class="col-12">
              <form method="GET" class="form-inline tm-mb-80 tm-search-form">                
                  <input class="form-control tm-search-input" name="query" type="text" placeholder="Qidiruv" aria-label="Qidiruv">
                  <button class="tm-search-button" type="submit">
                      <i class="fas fa-search tm-search-icon" aria-hidden="true"></i>
                  </button>                                
              </form>
          </div>                
      </div>
      
      
      <div class="row tm-row">
        {% for posts in posts %}
          <article class="col-12 col-md-6 tm-post">
              <hr class="tm-hr-primary">
              <a href="{{ posts.id }}" class="effect-lily tm-post-link tm-pt-20">
                  <div class="tm-post-link-inner">
                      <img src="{{ posts.image.url }}" alt="Image" class="img-fluid">
                  </div>
                  <h2 class="tm-pt-30 tm-color-primary tm-post-title">{{ posts.title }}</h2>
              </a>                    
              <p class="tm-pt-30">
                {{ posts.text | slice:":200" }} 
              </p>
              <div class="d-flex justify-content-between tm-pt-45">
                  <span class="tm-color-primary">{{ posts.author }}</span>
                  <span class="tm-color-primary">{{ posts.create_date }}</span>
              </div>
              <hr>
          </article>
          {% endfor %}
      </div>
          



{% endblock %}