{% extends "base.html" %}
{% block content %}

  

            <!-- Search form -->
            <div class="row tm-row">
                <div class="col-12">
                    <form method="GET" class="form-inline tm-mb-80 tm-search-form">                
                        <input class="form-control tm-search-input" name="query" type="text" placeholder="Qidiruv" aria-label="Qidiruv">
                        <button class="tm-search-button" type="submit">
                            <i class="fas fa-search tm-search-icon" aria-hidden="true"></i>
                        </button>                                
                    </form>
                </div>                
            </div>            
            <div class="row tm-row">
                <div class="col-12">
                    <hr class="tm-hr-primary tm-mb-55">
                     <img width="954" height="535" src="{{ post.image.url }}" alt="">
                </div>
            </div>
            <br>
            <div class="row tm-row">
                <div class="col-lg-8 tm-post-col">
                    <div class="tm-post-full">                    
                        <div class="mb-4">             
                            <h2 class="pt-2 tm-color-primary tm-post-title">{{ post.title }}</h2>
                            <p class="tm-mb-40">{{ post.author }} | {{ post.create_date }} </p>
                            <p>{{ post.text }}</p>
                        </div>                        
                    </div>
                </div>
            </div>



{% endblock %}

